<nav class="fixed top-0 right-0 left-0 z-50">
    <div class="relative md:py-2 md:px-6 lg:py-4 lg:px-32 bg-yellow-200">
        <div class="flex justify-between items-center">
            <!-- logo -->
            <div class="flex items-center cursor-pointer" [routerLink]="['/overview']">
                <img class="logo w-[120px] rounded-xl" src="../../../assets/images/wallet.png" alt="logo image">
                <h1 class="font-bold text-xl">Expense Manager</h1>
            </div>
            <!-- menu links on big screen -->
            <div class="flex justify-between relative">
                <div class="pr-5 lg:hidden">
                    <i class="fa-solid fa-bars text-black text-3xl md:text-4xl cursor-pointer" (click)="dropDownFn()"></i>
                </div>
                <div class="hidden lg:block">
                    <ul class="text-center right-32 top-24 absolute
                    md:right-72 md:top-24 md:bg-transparent lg:flex lg:static">
                        <li class="ml-16 text-gray-800 text-xl font-bold cursor-pointer p-2.5 transition-all duration-500
                    ring-0 ring-gray-500 hover:ring-8 hover:rounded-full" routerLinkActive="active-color"
                            [routerLink]="['/overview']"><a>Overview</a></li>
                        <li class="ml-16 text-gray-800 text-xl font-bold cursor-pointer p-2.5 transition-all duration-500
                    ring-0 ring-gray-500 hover:ring-8 hover:rounded-full" routerLinkActive="active-color"
                            [routerLink]="['/report']"><a>Report</a></li>
                        <li class="ml-16 text-gray-800 text-xl font-bold cursor-pointer p-2.5 transition-all duration-500
                    ring-0 ring-gray-500 hover:ring-8 hover:rounded-full" routerLinkActive="active-color"
                            [routerLink]="['/budget']"><a>Budget</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- drop down menu on small screens -->
        <div class="py-3 bg-white w-full absolute z-[1]" [hidden]="!dropDown">
            <ul class="text-center lg:hidden">
                <li class="mx-20 lg:ml-16 text-gray-800 text-xl font-bold cursor-pointer p-2.5 transition-all duration-500
              hover:bg-zinc-400 hover:text-white hover:rounded-full" routerLinkActive="drop-color"
                    (click)="dropDownFn()" [routerLink]="['/overview']"><a>Overview</a></li>

                <li class="mx-20 lg:ml-16 text-gray-800 text-xl font-bold cursor-pointer p-2.5 transition-all duration-500
              hover:bg-zinc-400 hover:text-white rounded-full" routerLinkActive="drop-color"
                    (click)="dropDownFn()" [routerLink]="['/report']"><a>Report</a></li>
                
                <li class="mx-20 lg:ml-16 text-gray-800 text-xl font-bold cursor-pointer p-2.5 transition-all duration-500
              hover:bg-zinc-400 hover:text-white rounded-full" routerLinkActive="drop-color"
                    (click)="dropDownFn()" [routerLink]="['/budget']"><a>Budget</a></li>
            </ul>
        </div>
    </div>
</nav>